:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --background-color: #f5f5f5;
    --text-color: #333333;
    --header-colour:rgb(26, 60, 132);
    --header-colour-selected:#002076;
}

body, a {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    text-decoration: none;
    margin: 0px;
    /* background: linear-gradient(45deg, #feffff 35%,#ddf1f9 85%,#a0d8ef 100%); */
    /* background-color: #a0d8ef; */
    /* background-color: var(--accent-color); */
}

a:hover {
    text-decoration: underline;
}

span {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 5px 0px 5px 0px;
    /* width: 100vw; */
    /* padding: 6px; */
}

span > a {
    font-size: larger;
    font-weight: bold;
    justify-content: space-between;
    padding: 6px;
    text-decoration: none;
    
}

.container{
    /* background-color: blue; */
    background: linear-gradient(45deg, #feffff 35%,#ddf1f9 85%,#a0d8ef 100%);
    /* background: linear-gradient(45deg, #f2f9fe 0%,#d6f0fd 100%); */
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* margin: 20px; */
    padding: 0px 20px 0px 20px;
}

.logo {
    width: 10px;
}

.logo img {
    max-width: 250px;
}

.container > .links {
    /* background-color: red; */
    align-content: center;
    /* padding-right: 20px; */
}

.container > .links > a {
    padding: 6px;
    /* text-decoration: none; */
    font-weight:bold;
    /* color: darkblue; */
    color: var(--header-colour-selected);
}

main {
    background-color: white;
    text-align: center;
    max-width: 1280px;
    margin: 0 auto;
    /* display: flex; */
    /* justify-content: center; */
}


.splashAlignment {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}


.splash {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.splash .banner {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    object-position: center;
    /* transform: translate(-50%, -50%); Center the image */
    overflow: hidden;
    /* overflow-x: hidden; */
}

.overlay-text {
    color: white;
    position: absolute;
    padding-top: 75px;
    /* top: 10px; */
    /* padding: 0%; */
    margin: 0%;
    font-size:350%;
    animation: fadeIn 2s;
    /* animation: slide 2s; */

}


.overlay-text img {
    /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); Horizontal offset, vertical offset, blur radius, color */
    /* -webkit-filter: drop-shadow(5px 5px 5px #222); */
    /* filter: drop-shadow(5px 5px 5px #222); */
}

.overlay-text h1 {
    margin: 0 auto;
    padding: 0;
    font-size: 40px;
    /* color:rgb(26, 60, 132); */
    color: var(--header-colour);
    /* text-shadow: 4px 4px 4px rgb(0, 0, 10); Horizontal offset, vertical offset, blur radius, color */
}

.overlay-text a {
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
    padding: 10px 20px; /* Padding inside the button */
    border: none; /* Removes the border */
    border-radius: 5px; /* Rounded corners */
    letter-spacing: 1px;
    cursor: pointer; /* Pointer cursor on hover */
    display: inline-block; /* Keep it inline and allow padding/margin */
    font-family: Arial, sans-serif; /* Font family */
    outline: none; /* Removes the grey outline */
    background-color:#002076;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(0);
    }
}

.main-body {
    padding: 0px 20px 0px 20px
}

.indexServices-container {
    display: flex;
    justify-content: space-around;
}

.indexServices ul {
    padding: 0px 20px 0px 0px;
    margin: 0px;
}

h2, h3, h4 {
    /* color: var(--header-colour-selected); */
    color: var(--header-colour);
}

.indexServices h2 {
    font-size: 35px;
    margin: 0px 0px 10px 0px;
    text-align: left;
}

.indexServices ul li{
    padding-bottom: 5px;
    list-style: none;
    text-align: left;
    font-size: 1.5em;
}

.indexLocations-header h2 {
    font-size: 35px;
    margin: 0px 0px 10px 10px;
    text-align: left;
    /* color: white; */
}

.indexLocations-container {
    display: flex;
    justify-content: space-around;
}

.indexLocations {
    text-align: left;
    margin: 0px 15px 0px 15px;
    /* display: flex; */
    /* justify-content: space-around; */
}

.communication {
    padding-top: 5px;
}

.communication a {
    padding: 0px 15px 0px 0px;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: space-between;
}

.indexLocations a {
    text-decoration: none;
    font-size: 1.25em;
}

.indexLocations a:hover {
    text-decoration: underline;
}

.indexLocations h3 {
    color: var(--header-colour);
    font-size: 1.5em;
    margin: 0px 0px 5px 0px;
}

.indexLocations iframe {
    margin: 0px 0px 10px 0px;
}


.serviceInfo {
    margin: 30px 0px 30px 0px;
}

.serviceInfo p, h2 {
    margin: 0px;
}


/* Versions */
.vr2 {
    display: none;
}

/* .vr1 {
    display: none;
} */

.response {
    font-size: 25px;
    display: flex;
    align-items: center;
    text-align: left;
}

.response img {
    max-width: 800px;
    /* padding-left: 30px; */
    margin-left: 30px;
    border-radius: 30px;
}


.pitch {
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */

}


footer {
    text-align: center;
    margin-top: 30px;
    background-color: #00103c;
    color: white;
    font-size: 1.1rem;
    /* display: inline; */
    /* justify-content: center; */
}



footer a {
    text-align: center;
    font-size: .9em;
    /* display: flex; */
    text-decoration: none;
    color: #0077B5;
}

h3, h4 {
    margin: 0;
    padding: 0;
    color: white;
}

.footerMenu.retail-container h3 {
    /* width: 545px; */
    text-align: left;
    padding-left: 15px;
}

.visitShare {
    display: flex;
    justify-content:space-between;
}

.retails {
    /* display: flex; */
    /* justify-content: center; */
    /* padding: 15px; */
    /* padding-top: 15px; */
    /* padding-right: 30px; */
}

.retails .retailLocations {
    /* padding: 0px 15px 0px 15px; */
    padding: 15px;
    text-align: left;
}

.action {
    /* padding: 0px 8px 0px 8px; */
    padding: 0px 8px 0px 0px;

}

.footerMenu h3 {
    padding: 30px 0px 10px 0px;
    /* color: white; */
}

.share-links {
    padding-top: 20px;
    text-align: center;
    /* padding: 30px; */
}

.share-links h4 {
    margin:0;
    line-height: .4;
    font-size: 35px;
    padding: 5px 0px 20px 0px;
    /* color: white; */
}

.text-share {
    padding-bottom: 8px;
}

.social-button {
    color: white; /* Text color */
    padding: 10px 20px; /* Padding inside the button */
    border: none; /* Removes the border */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center the text */
    font-size: 20px; /* Font size */
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer; /* Pointer cursor on hover */
    display: inline-block; /* Keep it inline and allow padding/margin */
    font-family: Arial, sans-serif; /* Font family */
    outline: none; /* Removes the grey outline */
}

.sms {
    background-color: #32CD32; /* Twitter blue background */

}

.whatsapp {
    background-color: #25D366 ; /* Twitter blue background */
}


.linkedin {
    background-color: #0077B5 ; /* Twitter blue background */

}

.facebook {
    background-color: #1877F2; /* Twitter blue background */
}

.twitter {
    background-color: #1DA1F2; /* Twitter blue background */
}



.sitemap {
    padding: 40px 0px 20px 0px;
}

.sitemap a {
    padding: 0px 10px 0px 10px;
}


@media (max-width: 1000px) {
    .container {
        display: flex;
        justify-content: center;
    }

    .logo {
        /* padding-bottom: 120px; */
        z-index: 10;
    }

    .links {
        padding-top: 120px;
        font-size: 15px;
        /* display: flex; */
        /* justify-content: center; */
    }
}